<!DOCTYPE html>
<html>
    <head>
        <title>{{ response.getData('title') }}</title>

        {% for js in response.getResources('js') %}
          <script src="{{ js }}" type="text/javascript"></script>
        {% endfor %}
        {% for script in response.getResources('script') %}
          <script type="text/javascript">{{ script|raw }}</script>
        {% endfor %}
        {% for css in response.getResources('css') %}
          <link rel="stylesheet" type="text/css" href="{{ css }}" />
        {% endfor %}
        {% for style in response.getResources('style') %}
          <style>
          {{ style | raw }}
          </style>
        {% endfor %}
        {% for head in response.getResources('head') %}
          {{ head | raw }}
        {% endfor %}

    </head>
    <body>
        {{ response.getData('content')|raw }}
    </body>
</html>
